//META{"name":"NoChymv1","description":"Được thực hiện bởi ♪...NoChym#6339, Hỗ trợ tại đây https://discord.gg/ckTw3Rc","author":"♪...NoChym#6339","version":"1"}*//{}
@import url(https://puckzxz.github.io/NotAnotherAnimeTheme/css/scsl.css);
@import url(https://vuadaorong.github.io/nochymtheme/Themes/NoChymv1/Update.css);
/* Bật tắt hoạt ảnh animation (Chỉnh No thành Yes để kích hoạt) */
@import url(https://vuadaorong.github.io/nochymtheme/Themes/NoChymv1/Animations/Yes.css);
/* Bất kì hình ảnh nào phải kết thúc bằng 1 định dạng (Ví Dụ: jpg) */
/* ĐÂY KHÔNG PHẢI là LINK, https://imgur.com/a/ycjL2 */
/* THÂY LÀ LINK https://i.imgur.com/rCqnrQ7.jpg */

/* Nếu bạn muốn tìm 1 link ko bị đổi host liên tục có thể xài pinterest.com */

:root {
	/*
	Thay đổi hình nền
	(Mặc định: https://images8.alphacoders.com/959/959266.jpg)
	*/
	--background-image: url(https://images8.alphacoders.com/959/959266.jpg);

	/*
	Thay đổi hình nền khi nhấn vào bạn bè hay thành viên
	(Mặc định: https://images8.alphacoders.com/959/959266.jpg)
	*/
	--Popout-Background: url(https://images5.alphacoders.com/996/996840.jpg);

	/*
	Thay đổi hình nền khi xem profile bạn bè hay thành viên
	(Mặc định: https://images6.alphacoders.com/102/1029182.jpg)
	*/
	--Popout-Background1: url(https://images6.alphacoders.com/102/1029182.jpg);

	/*
	Thay đổi hình của nút home discord
	(Mặc định: Bỏ link là được)
	*/
	--friends-icon: url(https://i.pinimg.com/originals/fc/1a/fe/fc1afe5111ce34d578b6898ddc032e0d.gif);

	/*
	Thay đổi vị trí icon hình của bạn bè
	(Mặc định: center center)
	*/
	--friends-icon-position: center center;

	/*
	Thay đổi độ to của nút home discord
	(Mặc định: 100%)
	*/
	--friends-icon-zoom: 100%;

	/*
	Thay đổi màu nền chính
	(Mặc định:--main-color: rgba(250, 75, 221, 1);
	--background-color: rgba(0, 0, 0, 0);
	--secondary-main-color: rgba(255, 0, 162, 0.5);
	--secondary-background-color: rgba(230, 0, 255, 0);)
	*/
	--main-color: rgba(250, 75, 221, 1);
	--background-color: rgba(0, 0, 0, 0);
	--secondary-main-color: rgba(255, 0, 162, 0.5);
	--secondary-background-color: rgba(230, 0, 255, 0);

	/*
	Thay đổi độ trong suốt của hình nền, dùng để điều chỉnh độ sáng tối của hình nền
	(Mặc định: rgba(0, 0, 0, 0.5))
	*/ 
	--main-transparency: rgba(0, 0, 0, 0);

	/*
	Thay bật hiệu ứng rgb nếu bạn sử dụng hoạt ảnh animation "sẽ sử dụng màu nền chính để thay thế"
	(Mặc định: none)
	*/
	--rgb-animation: rainbow;

	/*
	Thay đổi màu nền khi di chuột vào bạn bè hoặc thành viên
	(Mặc định: rgba(255, 255, 255, .15))
	*/
	--hover-list-bg-color: rgba(252, 48, 246, .15);

	/*
	Change the color of the borders between messages
	(Mặc định: hsla(0,0%,100%,.1)
	*/
	--border-lines-color: hsla(0,0%,100%,.1);

	/*
	Thay đổi màu thanh trượt tin nhắn và kênh
	(Mặc định: rgba(255,255,255, .15)
	*/
	--scroll-bar-color: rgba(250, 75, 215, .30);

	/*
	Thay đổi kích thước chữ, bạn có thể sử dụng bất kì loại: px, em, rem, %
	(Mặc định: 16px)
	*/
	--font-size: 16px;

	/*
	Thay đổi màu khi chọn kênh chat hay kênh trò chuyện "sẽ bị disable nếu sử dụng animation"
	(Mặc định: rgba(246, 246, 247, 1))
	*/
	--selected-text-voice-color: rgba(255, 0, 64, 1);

	/*
	Thay đổi màu chữ khi di chuột vào kênh chat hay kênh trò chuyện "sẽ bị disable nếu sử dụng animation"
	(Mặc định: rgba(255, 255, 255, 0.75))
	*/
	--channel-hover-text-color: rgba(255, 0, 64, 1);

	/*
	Thay đổi màu của kênh chat chưa đọc "sẽ bị disable nếu sử dụng animation"
	(Mặc định: #ff00f7)
	*/
	--unread-text-color: #9900ff;

	/*
	Thay đổi tốc độ hoạt ảnh tin nhắn chưa đọc
	(Mặc định: 1.5s)
	*/
	--Unread-Message-Speed: 1.5s;

	/*
	Thay đổi độ trong suốt khi nhấn vào bạn bè hay thành viên"nếu sử dụng thay đổi hình nền khi nhấn vào bạn bè thì cái này sẽ bị disable"
	(Mặc định: rgba(0, 0, 0, 0.8)
	*/
	--user-popup-background: rgba(0, 0, 0, 0);
	

}

/* Thêm bất kì code nào mà bạn có thể nghĩ ra */
