/*Thay đổi màu khi nói và làm icon xoay*/
@keyframes Talking {
  0% {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
    transform: rotate(-360deg) scale(1);
    box-shadow: 0 0 0 2px var(--main-color)
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
    transform: rotate(360deg) scale(1);
    box-shadow: 0 0 0 2px var(--main-color)
  }
}

/*Rainbow*/
@keyframes rainbow {
    0% {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        filter: hue-rotate(0);
    }
    100% {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}